@import '../../../../styles.scss';

.inputs{
  display: grid;
}

.title{
  font-weight: bold;
}

.buy-section{
  padding: 2rem;
  text-align: center;
}

#button-buy{
  background: $primary;
  color: #FFFFFF;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: whitesmoke !important;
}
