<div class="container">
  <section class="login">
    <h1 class="title">HAZEL</h1>
    <form [formGroup]="myForm" class="inputs">
      <mat-form-field class="input-container">
        <mat-label class="mat-form-field-label">Correo</mat-label>
        <input class="input" matInput formControlName="mail" placeholder="Ingrese su correo">
        <mat-error *ngIf="myForm.controls['mail'].hasError('required')" class="message-error">El correo electrónico es requerido</mat-error>
        <mat-error *ngIf="myForm.controls['mail'].hasError('email')" class="message-error">El correo electrónico es inválido</mat-error>
      </mat-form-field>
      <mat-form-field class="input-container">
        <mat-label class="mat-form-field-label">Contraseña</mat-label>
        <input class="input" matInput formControlName="password" placeholder="Ingrese su contraseña" type="password">
        <mat-error *ngIf="myForm.controls['password'].hasError('required')" class="message-error">La contraseña es requerida</mat-error>
      </mat-form-field>
      <button type="submit" mat-flat-button class="button" id="button-login">INGRESAR</button>
      <p class="register-message">¿Aún no tienes una cuenta? <b class="register" (click)="goToRegister()">Regístrate</b></p>
    </form>
  </section>
</div>
