  <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()" class="mat-icon-button"><mat-icon class="menu-icon">menu</mat-icon></button>
      <div class="logo">
        <p class="logo-text">HAZEL</p>
        <p class="logo-phrase">Wake up to something special</p>
      </div>
      <div class="options" *ngIf="isLogged!= 'true'">
        <a [routerLink]="navOption.route"
        *ngFor="let navOption of fillerNavScreen" class="nav-option">
          {{navOption.name}}
        </a>
        <button mat-flat-button routerLink="../auth/login" class="nav-option" id="login-container">
          <a class="nav-option">Login</a>
        </button>
      </div>
      <div class="options-logged" *ngIf="isLogged == 'true'">
        <a routerLink="product/catalog"
         class="nav-option">
         Productos
        </a>
        <button mat-icon-button class="logged-option" routerLink="product/cart">
          <mat-icon class="logged-icon">shopping_cart</mat-icon>
        </button>
        <button mat-icon-button class="logged-option" [matMenuTriggerFor]="menu">
          <mat-icon class="logged-icon">person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>Ver Perfil</span>
          </button>
          <button mat-menu-item (click)="exit()">
            <mat-icon>logout</mat-icon>
            <span>Salir</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container"
                          [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
                  class="sidenav">
        <mat-nav-list>
            <mat-list-item [routerLink]="navOption.route"
            *ngFor="let navOption of isLogged == 'true'?
            fillerLoginNav : fillerNav" class="mat-list-item">
              <span class="nav-item">
                <mat-icon class="icon">{{navOption.icon}}</mat-icon>
                <a class="option-name">{{navOption.name}}</a>
              </span>
            </mat-list-item>
            <mat-list-item *ngIf="isLogged == 'true'" (click)="exit()"
             class="mat-list-item">
              <span class="nav-item">
                <mat-icon class="icon">logout</mat-icon>
                <a class="option-name">Salir</a>
              </span>
            </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content class="sidenav-container">
        <section class="container">
          <router-outlet></router-outlet>
        </section>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
