.container{
  height: 100%;
  display: grid;
  justify-content: center;
}

.contact{
  margin-top: 8rem;
  background-color: whitesmoke;
  border-radius: 2rem;
  width: 25rem;
  height: 10rem;
  padding: 2rem;
  display: grid;
  align-content: center;
  text-align: center;
  font-size: 1rem;
}
