@import '../../../../styles.scss';

.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
  justify-items: center;
  gap: 2rem;
  .example-card{
    width: 30rem;
  }
}

@media (max-width: 1040px){
  .container{
    padding: 2rem 0;
  }
}
