<div class="container">
  <mat-card class="example-card">
    <div class="content">
      <mat-card-content class="mat-card-content">
        <h1>Misión</h1>
        <p class="text">
          En alambre trefilado de acero, somos la solución para la industria, construcción y minería. Para nuestros clientes, somos el socio comercial ideal, por nuestra atención personalizada, calidad y precio de nuestros productos.
        </p>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-card class="example-card">
    <div class="content">
      <mat-card-content class="mat-card-content">
        <h1>Visión</h1>
        <p class="text">
          Posicionar nuestra marca a nivel nacional como la mejor opción de compra por su calidad, precio y tiempo de entrega.
        </p>
      </mat-card-content>
    </div>
  </mat-card>
</div>
