<div class="container">
  <mat-card class="example-card">
    <img class="mat-card-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="product">
    <div class="content">
      <mat-card-content class="mat-card-content">
        <h1>Misión</h1>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero tempora dicta sequi minima molestias pariatur cum voluptatum non, illum numquam! Distinctio voluptatum dignissimos repellat! Accusamus nemo perspiciatis ex ut sapiente.</p>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-card class="example-card">
    <img class="mat-card-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="product">
    <div class="content">
      <mat-card-content class="mat-card-content">
        <h1>Visión</h1>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero tempora dicta sequi minima molestias pariatur cum voluptatum non, illum numquam! Distinctio voluptatum dignissimos repellat! Accusamus nemo perspiciatis ex ut sapiente.</p>
      </mat-card-content>
    </div>
  </mat-card>
</div>
