<div class="container">
  <mat-card class="example-card">
    <div class="content">
      <mat-card-content class="mat-card-content">
        <h1>Misión</h1>
        <p class="text">
          Ofrecer a nuestros clientes frutos secos frescos y deliciosos, promoviendo una alimentación consciente y satisfaciendo sus necesidades de snacks saludables, creando así un mundo más saludable.
        </p>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-card class="example-card">
    <div class="content">
      <mat-card-content class="mat-card-content">
        <h1>Visión</h1>
        <p class="text">
          Ser líder en proporcionar frutos secos de alta calidad, promoviendo una vida más saludable y activa, y siendo la primera elección de nuestros clientes.        </p>
      </mat-card-content>
    </div>
  </mat-card>
</div>
