$primary: #353b55;
$primary-ligth: #738cf1;
$secondary: #fd9898;
$tertiary: #66e5d5;

*{
  box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
